<a href="https://colab.research.google.com/github/bogard75/bogard75.github.io/blob/master/naver_stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import

In [4]:
import numpy as np
import pandas as pd
from datetime import datetime

import requests
import threading
import numpy as np
import io
from bs4 import BeautifulSoup
import os

os.chdir('/content/drive/My Drive/Colab Notebooks')
#os.getcwd()

'/content/drive/My Drive/Colab Notebooks'

## 함수정의

In [0]:
def naver_sise_time(stock, date):
    print("[%s] %s" % (stock, date))
    
    data = []
    for c in range(1, 50):
        url = "http://finance.naver.com/item/sise_time.nhn?code=%s&thistime=%s160000&page=%s" \
              % (stock, date, c)
        response = requests.get(url)
        soup = BeautifulSoup(response.text.encode('utf-8'), 'html.parser')
        quotes = soup.find_all('span', {'class': ['tah', 'p10']})

        for li in quotes:
            data.append(li.text.strip())
        try:
            if data[-7] == '09:00':
                break
        except:
            pass
        
    # 체결시각 체결가 전일비 매도 매수 거래량 변동량
    if len(data) == 0 :
        r = np.zeros(shape=(1,9))
    else:
        quote = np.reshape(np.array(data), (-1, 7)).tolist()
        r = [[date] + [stock] + i for i in quote]
        r = np.array(r)
    print(r.shape)
    
    return r

# 종목코드
def naver_sise_market_sum():
    d = pd.DataFrame() 
       
    for c in range(1, 50):
        url = "https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=%s" % (c)
        print(url)
        response = requests.get(url)
        soup = BeautifulSoup(response.text.encode('utf-8'), 'html.parser')
        tbl = soup.select('.type_2')[0]
        tbl_rows = tbl.find_all('tr')
        l = []
        for tr in tbl_rows:
            td = tr.find_all('td')
            row = [tr.text.replace('\n','').replace('\t','') for tr in td]
            try:
                stock_code = tr.select('.tltle')[0]['href'].split('=')[1]
                row.insert(1, stock_code)
                l.append(row)
            except:
                pass
            
        try:
            columns = ['N','종목코드','종목명','현재가','전일비','등락률','액면가','시가총액','상장주식수','외국인비율','거래량','PER','ROE','토론방']
            df = pd.DataFrame(l, columns=columns)
            df = df[pd.to_numeric(df.N) > 0].set_index('N').drop(columns='토론방')
            d = d.append(df)
        except:
            pass
        
    return d

In [0]:

if __name__=='__main__':
    # 네이버 코스피 종목코드를 받아서
    stocks = naver_sise_market_sum()
    cols_to_num = ['현재가','전일비','액면가','시가총액','상장주식수','외국인비율','거래량','PER','ROE']
    for c in cols_to_num:
        stocks[c] = stocks[c].str.replace(',','').apply(pd.to_numeric, errors='coerce')
    stocks.to_pickle("./stocks_20200206")

    # 기간동안 거래량을 입수하여
    days = pd.date_range('20200206', '20200206', ).strftime('%Y%m%d')
    r = np.vstack([np.vstack([naver_sise_time(stock=s, date=d) for d in days]) for s in stocks.종목코드])
    
    # 데이터프레임으로 작성함
    columns = ['기준일자','종목코드','체결시각','체결가','전일비','매도','매수','거래량','변동량']
    df = pd.DataFrame(r, columns=columns)
    df = df[df.기준일자.str.len()>=8].reset_index(drop=True)
    to_numeric = ['체결가','전일비','매도','매수','거래량','변동량']
    for c in to_numeric:
        df[c] = df[c].str.replace(',','').apply(pd.to_numeric)
    
    # Pickle로 저장
    df.to_pickle("./naver_sise_time_20200206")

https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=1
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=2
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=3
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=4
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=5
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=6
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=7
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=8
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=9
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=10
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=11
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=12
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=13
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=14
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=15
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=16
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=17
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=18
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=19
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=20
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=21
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=22
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=23
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=24
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=25
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=26
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=27
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=28
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=29
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=30
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=31
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=32
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=33
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=34
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=35
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=36
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=37
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=38
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=39
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=40
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=41
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=42
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=43
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=44
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=45
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=46
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=47
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=48
https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=49

In [0]:
#stocks.to_csv('stocks.csv')
import pandas as pd

df = pd.read_pickle('stocks_20200210')

to_numeric = ['현재가','전일비','액면가','시가총액','상장주식수','외국인비율','거래량','PER','ROE']
for c in to_numeric:
    df[c] = df[c].str.replace(',','').apply(pd.to_numeric, errors='coerce')

In [38]:
df

        종목코드                     종목명     현재가  ...       거래량      PER    ROE
N                                             ...
1     005930                    삼성전자   59700  ...  12692865     9.91  19.63
2     000660                  SK하이닉스   98800  ...   1670403     4.63  38.53
3     005935                   삼성전자우   51000  ...   1689890     8.47    NaN
4     207940                삼성바이오로직스  530000  ...    152573   156.48   5.51
5     035420                   NAVER  183500  ...    352555    46.61  12.97
...      ...                     ...     ...  ...       ...      ...    ...
1562  001527                   동양2우B    9600  ...      1260   685.71    NaN
1563  139310           TIGER 금속선물(H)    4615  ...       429      NaN    NaN
1564  001529                   동양3우B   27900  ...      3705  1992.86    NaN
1565  140710                KODEX 운송    2870  ...       607      NaN    NaN
1566  222190  ARIRANG 스마트베타 Momentum    7735  ...        23      NaN    NaN

[1566 rows x 12 columns]